<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:redisson="http://redisson.org/schema/redisson"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://redisson.org/schema/redisson
       http://redisson.org/schema/redisson/redisson.xsd http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd">

    <context:property-placeholder location="classpath:spring-config.properties" ignore-unresolvable="true" />

    <!--单台redis机器配置-->
    <!--<redisson:client id="redissonClient">-->
    <!--<redisson:single-server address="192.168.6.21:6382" connection-pool-size="30" />-->
    <!--</redisson:client>-->

    <!-- redis集群配置 -->
    <redisson:client id="redissonClient">
        <!--//scan-interval:集群状态扫描间隔时间，单位是毫秒 -->
        <redisson:cluster-servers scan-interval="10000" >
            <redisson:node-address value="redis://${redis.cluster1.hostname}:${redis.cluster1.port}"/>
            <redisson:node-address value="redis://${redis.cluster2.hostname}:${redis.cluster2.port}"/>
            <redisson:node-address value="redis://${redis.cluster3.hostname}:${redis.cluster3.port}"/>
            <redisson:node-address value="redis://${redis.cluster4.hostname}:${redis.cluster4.port}"/>
            <redisson:node-address value="redis://${redis.cluster5.hostname}:${redis.cluster5.port}"/>
            <redisson:node-address value="redis://${redis.cluster6.hostname}:${redis.cluster6.port}"/>
        </redisson:cluster-servers>

    </redisson:client>


    <!-- redis集群配置 自己机器-->
    <!--<redisson:client id="redissonClient"
                     threads="0"
                     netty-threads="0"
                     codec-ref="jsonJacksonCodec"
                     redisson-reference-enabled="true"
                     codec-provider-ref="defaultCodecProvider"
                     resolver-provider-ref="defaultResolverProvider"
                     executor-ref="executors"
                     event-loop-group-ref="nioEventLoopGroup">
        &lt;!&ndash;//scan-interval:集群状态扫描间隔时间，单位是毫秒 &ndash;&gt;
        <redisson:cluster-servers scan-interval="10000" >
            <redisson:node-address value="redis://${fan.redis.cluster1.hostname}:${fan.redis.cluster1.port}"/>
            <redisson:node-address value="redis://${fan.redis.cluster2.hostname}:${fan.redis.cluster2.port}"/>
            <redisson:node-address value="redis://${fan.redis.cluster3.hostname}:${fan.redis.cluster3.port}"/>
            <redisson:node-address value="redis://${fan.redis.cluster4.hostname}:${fan.redis.cluster4.port}"/>
            <redisson:node-address value="redis://${fan.redis.cluster5.hostname}:${fan.redis.cluster5.port}"/>
            <redisson:node-address value="redis://${fan.redis.cluster6.hostname}:${fan.redis.cluster6.port}"/>
        </redisson:cluster-servers>

    </redisson:client>-->

</beans>