<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd">


    <bean id="lockAspectAdvice" class="com.foutin.redisson.lock.cluster.annotation.LockAspectAdvice"/>

    <aop:config>
        <aop:pointcut id="pointcut" expression="execution(* com.foutin..*(..)) and @annotation(com.foutin.redisson.lock.cluster.annotation.CustomReentrantLock)"/>
        <aop:aspect ref="lockAspectAdvice">
            <aop:around method="around" pointcut-ref="pointcut" />
        </aop:aspect>
    </aop:config>

</beans>