<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd">


    <import resource="spring-redisson.xml"/>
    <import resource="spring-config-redis.xml"/>
    <!--注入redisson类对象属性值-->
    <bean id="redissonLockUtils" class="com.foutin.redisson.lock.cluster.impl.RedissonLockImpl">
        <constructor-arg name="redissonClient" ref="redissonClient"/>
    </bean>
    <bean id="lockAspectAdvice" class="com.foutin.redisson.lock.cluster.annotation.LockAspectAdvice">
        <constructor-arg name="distributedLock" ref="redissonLockUtils"/>
    </bean>

    <!--注入redis实现锁对象属性-->
    <bean id="redisDistributedLockUtils" class="com.foutin.rediss.lock.RedisDistributedLockUtils">
        <constructor-arg name="redisTemplate" ref="redisTemplate"/>
    </bean>
    <bean id="distributedLockAspect" class="com.foutin.rediss.lock.aspect.DistributedLockAspect">
        <constructor-arg name="distributedReentrantLock" ref="redisDistributedLockUtils"/>
    </bean>

    <!--redisson锁-->
    <aop:config>
        <aop:pointcut id="pointcut" expression="@annotation(com.foutin.redisson.lock.cluster.annotation.CustomReentrantLock)"/>
        <aop:aspect ref="lockAspectAdvice">
            <aop:around method="around" pointcut-ref="pointcut" />
        </aop:aspect>
    </aop:config>

    <!--rediss锁-->
    <aop:config>
        <aop:pointcut id="lockPoint" expression="@annotation(com.foutin.rediss.lock.annotation.CustomLock)"/>
        <aop:aspect ref="distributedLockAspect">
            <aop:around method="around" pointcut-ref="lockPoint"/>
        </aop:aspect>
    </aop:config>
</beans>